*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 20px;
}

header{
	background-image: url(img/beach.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*width: 70%;*/
	text-align: center;
	color: rgb(141, 72, 16);
}

.container .button {
	font-size: 110%;
	text-decoration: none;
	color:#926239;
    border:#926239 1px solid;
    padding: 10px 10px;
    border-radius: 10px;
    /*margin: 20px auto 0 auto;*/
    /*display: block;*/
    /*width: 20%;*/

}
.button:hover{
	background-color: #926239;
	color: white;
}

.container p{
	margin-bottom: 20px;
}
section{
	padding: 10px 20px;
	text-align: center;
}

.dark{
	background-color: #926239;
	color: #DDDDDD;
}
.light{
	background-color: #DDDDDD;
	color: #926239;
}

#section{
	padding: 0px;
}
.col{
	width: 33.33%;
	float: left;
	padding: 20px;
}